.todo-list-container {
  padding: 10px;
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .todo-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid #ccc;
  }
  
  .todo-checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    cursor: pointer;
  }
  
  .todo-checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  
  .task-text {
    font-size: 1.1rem;
    color: #333;
  }
  
  .delete-btn ,.edit-btn{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #e74c3c;
    transition: transform 0.2s ease;
  }
  .save-btn {
    background-color: #654ce3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .edit-input{
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid #a8a8a8;
    font-size: 1rem;
    justify-content: space-between;
  }
  .save-btn:hover {
    background-color: #072e91;
  }
  .delete-btn:hover, .edit-btn:hover {
    transform: scale(1.2);
  }
  .task-edit-delete {
    display: flex;
    gap: 10px;
  }

  .todo-item.completed .task-text {
    text-decoration: line-through;
    opacity: 0.6;
  }

  .task-text {
    flex: 1;
  }

  .todo-item input[type="checkbox"] {
    margin-right: 10px;
  }